<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<style>
  /* MUESTRA (...) CUANDO LA INFORMACION EXEDE DE COLUMNA */
  .truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
</style>

<div class="container mx-auto p-4">

  <!-- TITULO DEL APARTADO -->
  <nav class="navbar navbar-light bg-white mb-4 rounded-lg shadow-md">
    <div class="container">
      <span class="navbar-brand text-lg font-semibold text-gray-700 ml-2">Listado de los Beneficiarios</span>
      <!-- <button class="btn btn-outline-secondary"> <i class="bi bi-box-arrow-in-right"></i> Registar</button> -->
    </div>
  </nav>

  <app-form-edit [isModalVisible]="isModalVisible" [selectedEducation]="selectedEducation"
    (closeModalEvent)="closeModal()" (saveEducationEvent)="saveEducation($event)">

  </app-form-edit>

  <app-form-edit [isHealthModalVisible]="isHealthModalVisible" [selectedHealth]="selectedHealth"
    (closeHealthModalEvent)="closeHealthModal()" (saveHealthEvent)="saveHealthChanges($event)">
  </app-form-edit>


  <!-- LISTA LA TABLA DE BENEFICIARIOS Y APADRINADOS ( A - I) -->
  <div class="bg-white shadow-md rounded-lg p-4">
    <!-- Header con los switches de estado -->
    <div class="flex justify-between items-center border-b pb-2 mb-4">

      <input type="text" [(ngModel)]="searchTerm" (input)="filtrarBeneficiarios()" placeholder="Buscar..."
        class="border p-1 rounded text-gray-700" />

      <div class="flex space-x-4  py-2">
        <!-- Estado Activo/Inactivo -->
        <div (click)="cambiarEstado()" class="flex items-center cursor-pointer">
          <div class="w-10 h-6 bg-gray-400 rounded-full p-1 relative transition-all duration-300">
            <div class="w-4 h-4 bg-white rounded-full absolute transition-all duration-300"
              [ngClass]="estadoActual === 'I' ? 'translate-x-4 bg-blue-500' : 'translate-x-0 bg-gray-300'">
            </div>
          </div>
          <span class="ml-2 text-gray-700">{{ estadoActual === 'A' ? 'Activos' : 'Inactivos' }}</span>
        </div>

        <!-- Estado Apadrinamiento -->
        <div (click)="cambiarApadrinamiento()" class="flex items-center cursor-pointer">
          <div class="w-10 h-6 bg-gray-400 rounded-full p-1 relative transition-all duration-300">
            <div class="w-4 h-4 bg-white rounded-full absolute transition-all duration-300"
              [ngClass]="estadoApadrinamiento === 'SI' ? 'translate-x-4' : 'translate-x-0'">
            </div>
          </div>
          <span class="ml-2 text-gray-700">{{ estadoApadrinamiento === 'NO' ? 'Beneficiarios' : 'Apadrinados' }}</span>
        </div>
      </div>

    </div>

    <div class="bg-white shadow-md rounded-lg p-4">
      <div class="overflow-x-auto">

        <!-- LISTA LA TABLA DE BENEFICIARIOS Y APADRINADOS ( A - I) -->
        <!-- Encabezado -->
        <div class="hidden sm:grid grid-cols-8 bg-gray-100 text-gray-700 font-semibold text-sm px-4 py-2 border border-gray-300 rounded-t-md mb-2">
          <div>Nombres</div>
          <div>Apellidos</div>
          <div>Edad</div>
          <div>Nacimiento</div>
          <div>Tipo Doc</div>
          <div>Número Doc</div>
          <div>Patrocinado</div>
          <div class="text-center">Acciones</div>
        </div>

        <!-- Contenido tipo tarjetas -->
        <div class="space-y-2">
          <div *ngFor="let beneficiario of beneficiariosFiltrados"
              class="grid grid-cols-1 sm:grid-cols-8 bg-white border border-gray-200 rounded-md shadow-sm px-4 py-3 text-sm items-center gap-y-2 sm:gap-0">

            <div>{{ beneficiario.name }}</div>
            <div>{{ beneficiario.surname }}</div>
            <div>{{ beneficiario.age }}</div>
            <div>{{ formatBirthdate(beneficiario.birthdate) }}</div>
            <div>{{ beneficiario.typeDocument }}</div>
            <div>{{ beneficiario.documentNumber }}</div>
            <div>{{ beneficiario.sponsored }}</div>

            <!-- Acciones -->
            <div class="flex justify-start sm:justify-center gap-2">
              <button (click)="toggleEstado(beneficiario)"
                [ngClass]="beneficiario.state === 'A' ? 'bg-red-500 hover:bg-red-600' : 'bg-green-500 hover:bg-green-600'"
                class="text-white rounded px-2 py-1 text-xs">
                <i [ngClass]="beneficiario.state === 'A' ? 'fas fa-trash' : 'fas fa-undo'"></i>
              </button>

              <button class="text-white bg-gray-500 hover:bg-gray-600 rounded px-2 py-1 text-xs"
                (click)="beneficiario?.idPerson ? descargarPdf(beneficiario.idPerson) : null">
                <i class="fas fa-file-pdf"></i>
              </button>

              <button class="text-white bg-gray-500 hover:bg-gray-600 rounded px-2 py-1 text-xs"
                (click)="verDetalles(beneficiario.idPerson)">
                <i class="fas fa-eye"></i>
              </button>

              <div class="dropdown">
                <button class="btn btn-sm btn-primary dropdown-toggle px-2 py-1 text-xs" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fas fa-edit"></i>
                </button>
                <ul class="dropdown-menu text-sm">
                  <li><a class="dropdown-item" (click)="editarBeneficiario(beneficiario)">
                    <i class="fas fa-user-edit me-2"></i>Beneficiario</a></li>
                  <li><a class="dropdown-item" (click)="openModal(beneficiario)">
                    <i class="fas fa-graduation-cap me-2"></i>Educación</a></li>
                  <li><a class="dropdown-item" (click)="openHealthModal(beneficiario)">
                    <i class="fas fa-briefcase-medical me-2"></i>Salud</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        

        <div class="flex justify-between items-center mt-4 text-sm">
          <!-- Selector de cantidad -->
          <div>
            <label>Cantidad por página:</label>
            <select [(ngModel)]="itemsPerPage" (change)="cambiarItemsPorPagina(itemsPerPage)" class="border px-3 py-1 rounded ml-4">
              <option [value]="10">10</option>
              <option [value]="15">15</option>
              <option [value]="20">20</option>
            </select>
          </div>
        
          <!-- Controles de paginación -->
          <div class="space-x-2">
            <button (click)="cambiarPagina(currentPage - 1)" [disabled]="currentPage === 1" class="px-3 py-1 bg-gray-200 rounded">
              <i class="fas fa-chevron-left"></i>
            </button>
            <span>Página {{ currentPage }} de {{ totalPages }}</span>
            <button (click)="cambiarPagina(currentPage + 1)" [disabled]="currentPage === totalPages" class="px-3 py-1 bg-gray-200 rounded">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>

        
      </div>
    </div>
  </div>

  <!-- MODAL DE VISTA PREVIA -- MUESTRA DATOS PERSON, EDUCATION Y HEALTH -->
  <div *ngIf="showBeneficiarioDetails && selectedBeneficiario && !isEditing"
    class="fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-3/4 max-w-4xl h-5/6 overflow-hidden flex flex-col">
      <h2 class="text-lg font-semibold mb-4">Detalles del Beneficiario</h2>

      <div class="overflow-y-auto flex-grow p-2">
        <!-- Tabla Person -->
        <h3 class="text-md font-semibold mb-2">Datos Personales</h3>
        <table class="w-full border">
          <tr class="bg-gray-100">
            <th class="border px-1 py-1 font-medium">Nombres</th>
            <th class="border px-1 py-1 font-medium">Apellido</th>
            <th class="border px-1 py-1 font-medium">Edad</th>
            <th class="border px-1 py-1 font-medium">Fecha de Nacimiento</th>
            <th class="border px-1 py-1 font-medium">Documento</th>
            <th class="border px-1 py-1 font-medium">Apadrinado</th>
            <th class="border px-1 py-1 font-medium  w-[80px]">Acciones</th>
          </tr>
          <tr *ngIf="selectedBeneficiario">
            <td class="border px-1 py-1 font-light">{{ selectedBeneficiario.name }}</td>
            <td class="border px-1 py-1 font-light">{{ selectedBeneficiario.surname }}</td>
            <td class="border px-1 py-1 font-light">{{ selectedBeneficiario.age }}</td>
            <td class="border px-1 py-1 font-light">{{ formatBirthdate(selectedBeneficiario.birthdate) }}</td>
            <td class="border px-1 py-1 font-light">{{ selectedBeneficiario.documentNumber }}</td>
            <td class="border px-1 py-1 font-light">{{ selectedBeneficiario.sponsored }}</td>
            <td class="border px-1 py-1 text-center  w-[80px]">
              <!-- Botón de editar -->
              <button class="px-1.5 py-0.5 text-white bg-gray-500 hover:bg-gray-600 rounded"
                (click)="editarBeneficiario(selectedBeneficiario)">
                <i class="fas fa-sync-alt"></i>
              </button>
            </td>
          </tr>
        </table>

        <!-- Tabla Education -->
        <h3 class="text-md font-semibold mt-4 mb-2">Educación</h3>
        <table class="w-full border">
          <tr class="bg-gray-100">
            <th class="border px-1 py-1 font-medium">Nivel de Estudio</th>
            <th class="border px-1 py-1 font-medium">Grado</th>
            <th class="border px-1 py-1 font-medium">Promedio</th>
            <th class="border px-1 py-1 font-medium">Cuaderno Completo</th>
            <th class="border px-1 py-1 font-medium">Asistencia</th>
            <th class="border px-1 py-1 font-medium">Tutorías</th>
            <th class="border px-1 py-1 font-medium w-[80px]">Acciones</th>
          </tr>
          <tr *ngFor="let edu of selectedBeneficiario.education">
            <td class="border px-1 py-1 font-light">{{ edu.degreeStudy }}</td>
            <td class="border px-1 py-1 font-light">{{ edu.gradeBook }}</td>
            <td class="border px-1 py-1 font-light">{{ edu.gradeAverage }}</td>
            <td class="border px-1 py-1 font-light">{{ edu.fullNotebook }}</td>
            <td class="border px-1 py-1 font-light">{{ edu.assistance }}</td>
            <td class="border px-1 py-1 font-light">{{ edu.tutorials }}</td>
            <td class="border px-1 py-1 text-center w-[80px]">
              <!-- Botón de editar -->
              <button class="px-1.5 py-0.5 text-white bg-gray-500 hover:bg-gray-600 rounded"
                (click)="editarEducacion(edu)">
                <i class="fas fa-sync-alt"></i>
              </button>
            </td>
          </tr>
        </table>

        <!-- Tabla Health -->
        <h3 class="text-md font-semibold mt-4 mb-2">Salud</h3>
        <table class="w-full border">
          <tr class="bg-gray-100">
            <th class="border px-1 py-1 font-medium">Vacuna</th>
            <th class="border px-1 py-1 font-medium">VPH</th>
            <th class="border px-1 py-1 font-medium">Influenza</th>
            <th class="border px-1 py-1 font-medium">Desparasitación</th>
            <th class="border px-1 py-1 font-medium">Hemoglobina</th>
            <th class="border px-1 py-1 font-medium w-[80px]">Acciones</th>
          </tr>
          <tr *ngFor="let health of selectedBeneficiario.health">
            <td class="border px-1 py-1 font-light">{{ health.vaccine }}</td>
            <td class="border px-1 py-1 font-light">{{ health.vph }}</td>
            <td class="border px-1 py-1 font-light">{{ health.influenza }}</td>
            <td class="border px-1 py-1 font-light">{{ health.deworming }}</td>
            <td class="border px-1 py-1 font-light">{{ health.hemoglobin }}</td>
            <td class="border px-1 py-1 text-center w-[80px]">
              <!-- Botón de editar -->
              <button class="px-1.5 py-0.5 text-white bg-gray-500 hover:bg-gray-600 rounded"
                (click)="editarSalud(health)">
                <i class="fas fa-sync-alt"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>

      <!-- Botón de cierre -->
      <div class="flex justify-end mt-4">
        <button class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600" (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>
  </div>


  <!-- MODAL DE EDICION DE PERSON SIN GENERAR NUEVO ID -->
  <div *ngIf="selectedBeneficiario && isEditing"
    class="fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-1/2 max-h-[80vh] overflow-y-auto">
      <h2 class="text-lg font-semibold mb-4">Editar Beneficiario</h2>

      <form (ngSubmit)="guardarCambios()">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="block text-sm font-medium">Nombre</label>
            <input type="text" [(ngModel)]="selectedBeneficiario.name" name="name" class="w-full border p-2 rounded"
              required>
          </div>
          <div>
            <label class="block text-sm font-medium">Apellido</label>
            <input type="text" [(ngModel)]="selectedBeneficiario.surname" name="surname"
              class="w-full border p-2 rounded" required>
          </div>
          <div>
            <label class="block text-sm font-medium">Edad</label>
            <input type="number" [(ngModel)]="selectedBeneficiario.age" name="age" class="w-full border p-2 rounded"
              required>
          </div>
          <div>
            <label class="block text-sm font-medium">Fecha de Nacimiento</label>
            <input type="date" [(ngModel)]="selectedBeneficiario.birthdate" name="birthdate"
              class="w-full border p-2 rounded" required>
          </div>
          <div>
            <label class="block text-sm font-medium">Tipo de Documento</label>
            <select [(ngModel)]="selectedBeneficiario.typeDocument" name="typeDocument"
              class="w-full border p-2 rounded" required>
              <option value="DNI">DNI</option>
              <option value="CNE">CNE</option>
            </select>
          </div>
          <div>
            <label class="block text-sm font-medium">Número de Documento</label>
            <input type="text" [(ngModel)]="selectedBeneficiario.documentNumber" name="documentNumber"
              class="w-full border p-2 rounded" required>
          </div>
          <div>
            <label class="block text-sm font-medium">Parentesco</label>
            <input type="text" [(ngModel)]="selectedBeneficiario.typeKinship" name="typeKinship"
              class="w-full border p-2 rounded" required>
          </div>
          <div>
            <label class="block text-sm font-medium">Apadrinado</label>
            <select [(ngModel)]="selectedBeneficiario.sponsored" name="sponsored" class="w-full border p-2 rounded"
              required>
              <option value="SI">Sí</option>
              <option value="NO">No</option>
            </select>
          </div>
        </div>

        <!-- Botones -->
        <div class="flex justify-end mt-4">
          <button type="button" class="px-4 py-2 bg-gray-500 text-white rounded mr-2"
            (click)="cerrarModal()">Cancelar</button>
          <button type="submit" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- MODAL DE EDICION DE EDUCATION SIN GENERAR NUEVO ID -> DENTRO DE VISTA PREVIA -->
  <div *ngIf="isEditingEducation" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-6 rounded shadow-lg w-1/3">
      <h2 class="text-lg font-bold mb-4">Editar Educación</h2>

      <label class="block">Nivel de Estudio</label>
      <input [(ngModel)]="selectedEducation.degreeStudy" class="border p-2 w-full mb-2" />

      <label class="block">Grado</label>
      <input [(ngModel)]="selectedEducation.gradeBook" class="border p-2 w-full mb-2" />

      <label class="block">Promedio</label>
      <input type="number" [(ngModel)]="selectedEducation.gradeAverage" class="border p-2 w-full mb-2" />

      <label class="block">Cuaderno Completo</label>
      <select [(ngModel)]="selectedEducation.fullNotebook" class="border p-2 w-full mb-2">
        <option>Completo</option>
        <option>Incompleto</option>
      </select>

      <label class="block">Asistencia</label>
      <select [(ngModel)]="selectedEducation.assistance" class="border p-2 w-full mb-2">
        <option>Regular</option>
        <option>Buena</option>
        <option>Mala</option>
      </select>

      <label class="block">Tutorías</label>
      <select [(ngModel)]="selectedEducation.tutorials" class="border p-2 w-full mb-2">
        <option>Si</option>
        <option>No</option>
      </select>

      <div class="flex justify-end mt-4">
        <button (click)="cerrarModalEducacion()" class="bg-gray-500 text-white px-4 py-2 mr-2 rounded">Cancelar</button>
        <button (click)="guardarEducacion()" class="bg-green-500 text-white px-4 py-2 rounded">Guardar</button>
      </div>
    </div>
  </div>


  <!-- MODAL DE EDICION DE HEALTH SIN GENERAR NUEVO ID -> DENTRO DE VISTA PREVIA -->
  <div *ngIf="isEditingHealth" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div class="bg-white p-6 rounded shadow-lg w-1/3">
      <h2 class="text-lg font-bold mb-4">Editar Salud</h2>

      <label class="block">Vacunación</label>
      <select [(ngModel)]="selectedHealth.vaccine" class="border p-2 w-full mb-2">
        <option>Esquema Completo</option>
        <option>Incompleto</option>
        <option>Sin información</option>
      </select>

      <label class="block">VPH</label>
      <select [(ngModel)]="selectedHealth.vph" class="border p-2 w-full mb-2">
        <option>Aplicada</option>
        <option>No aplicada</option>
        <option>Sin información</option>
      </select>

      <label class="block">Influenza</label>
      <select [(ngModel)]="selectedHealth.influenza" class="border p-2 w-full mb-2">
        <option>Aplicada</option>
        <option>No aplicada</option>
        <option>Sin información</option>
      </select>

      <label class="block">Desparasitación</label>
      <select [(ngModel)]="selectedHealth.deworming" class="border p-2 w-full mb-2">
        <option>Aplicada</option>
        <option>No aplicada</option>
        <option>Sin información</option>
      </select>

      <label class="block">Hemoglobina</label>
      <select [(ngModel)]="selectedHealth.hemoglobin" class="border p-2 w-full mb-2">
        <option>Normal</option>
        <option>Baja</option>
        <option>Alta</option>
        <option>Sin información</option>
      </select>

      <div class="flex justify-end mt-4">
        <button (click)="cerrarModalSalud()" class="bg-gray-500 text-white px-4 py-2 mr-2 rounded">Cancelar</button>
        <button (click)="guardarSalud()" class="bg-green-500 text-white px-4 py-2 rounded">Guardar</button>
      </div>
    </div>
  </div>
</div>